.container {
  border-top: 1px solid #c4c4c4;
  margin-top: 56px;
}

.interestingInfo {
  padding-top: 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #91a0b6;
}

.InterestingArticleWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.interestingArticleItem {
  width: 32%;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

.interestingArticleDate {
  padding: 16px 0 8px 0;
}

.interestingArticleDate::after {
  content: 'Feb 23 \00B7  8 min read';
  color: #adb8c8;
}

.interestingArticleItem > h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #242424;
}

.interestingArticleItem > p {
  padding-top: 10px;
  color: #78787a;
}

@media screen and (max-width: 767px) {
  .container {
    margin-top: 32px;
  }
  .interestingInfo {
    padding-top: 8px;
  }
  .interestingArticleItem {
    width: 100%;
    padding: 14px 0 24px 0;
    display: flex;
    flex-direction: column;
  }
  .interestingArticleItem:nth-child(n + 4) {
    display: none;
  }
}
